@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=DynaPuff:wght@400..700&family=Margarine&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

body {
    font-family: "PT Serif", serif;
}

.floating-img {
    position: absolute;
    width: 80px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}